{% extends "layout.html" %}

{% block title %}
    The ONUC
{% endblock %}

{% block main %}
    <h2>ONUC</h2>
    <br>
    <p>
    The ONUC was one of the UN’s peacekeeping initiatives for the DRC in which It is stated to be “one of the most controversial”(Asku 100). It started in 1960 and would go on until 1964 and was a response to Katanga obtaining its independence, on June 30 1960 from former Belgian 
colonialists, with Joseph Kasavubu as president and Patrice Lummuba as Prime Minister. However due to the Congolese’s refusal to allow the Belgians to continue exploiting the resources of the Congo Belgium would launch an “intervention” to take back their long standing control. Additionally, the Congo became involved in the political tensions of the cold war after Kasavubu and Lummuba turned to the Soviets for assistance against the Belgian force. This would lead to the ONUC’s creation, as requested by Lummuba and Kasavubu, which would end up with 93,000 active peacekeepers and would lead to a “$4000,130,793” expenditure.
    </p>
    <h4>US operation in the Congo</h4>
    <div>
        <iframe src="https://www.youtube.com/embed/2rcHxVi_34E" height="300px" width="450" allowfullscreen></iframe>
    </div>
{% endblock %}